{% extends 'layout.html'%}

{% load static %}

{% block 'main'%}
            <div class="row">
                {% for msg in messages %}
                 <h5>{{ msg }}</h5>
                {% endfor %}
                {% for laptop in laptops %}
                <div class="col-md-3 col-sm-3 box " style="width: 20vw;">
                    <div class="card" style="width: 100%;">
                    <img src="{{ laptop.la_image.url }}" alt="" style="height: 20vh; width:15vw" >
                        <div class="card-body">
                        <h5 class="card-title">{{ laptop.Name }}</h5>
                        <strong>{{ laptop.type }}</strong>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="/details/{{ laptop.id }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
               
                </div>
                {% endfor %}
                </div>
{% endblock 'main'%}